body {
  background-size: auto;
  background-repeat: repeat;
  width: auto;
  height: 100vh;
  margin: 0;
}

form {
  width: 500px;
  font-family: 'Montserrat', sans-serif;
}

.form-group {
  width: 500px;
}
