.landing-root {
  background-image: url('../assets/myfoliobg.png');
  height: 100%;
  width: 100%;
}

.tree {
  width: 55vw;
  height: 100vw;
  position: absolute;
  bottom: -350px;
  left: -101px;
}

.landing-logo {
  position: relative;
  width: calc(502px - 25%);
  height: calc(266.98px - 25%);
  margin-bottom: 50px;
}

.container-fluid {
  height: 100%;
}

.login {
  top: 400px;
}

.row {
  height: 100%;
}

.row-1 {
  height: 70%;
}

.row-2 {
  height: 30%;
}
