.portfolio-header {
  margin-top: 75px;
  font-family: 'Montserrat', sans-serif;
  color: #45B549;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.stock-color-green {
  color: #45B549;
}

.stock-color-red {
  color: red;
}

.stock-color-grey {
  color: gray;
}

.list-group-item {
  height: 100px;
  padding-top: 40px;
}
