.portfolio-root {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.portfolio-root .portfolio-page-container {
  height: 100%;
  max-width: 100%;
}

.portfolio-section {
  border-right: 1px solid rgba(0,0,0, 0.1);
  overflow-y: auto;
  height: calc(100% - 100px);
  font-family: 'Montserrat', sans-serif;
}

.cash-balance {
  margin-top: 75px;
  font-family: 'Montserrat', sans-serif;
  color: #45B549;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.balance-amount {
  color: #45B549;
}

span {
  color: #AAAFAD;
}

.bank {
  width: 150px;
  height: 150px;
  margin-top: 100px;
}

.modal {
  font-family: 'Montserrat', sans-serif;
}

.modal-header div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-body {
  letter-spacing: 0.5px
}

.modal-company-label, .modal-price-label, .modal-quantity-label, .modal-amount-label {
  font-weight: 600;
}



