.register-root .register-form-container {
  width: 600px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 40px;
  justify-content: center;
  display: flex;
  box-shadow: 6px 6px 9px rgba(0,0,0,0.1);
}

form {
  width: 500px;
}

.form-group {
  width: 500px;
}

.register-title {
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #009549;
}

.register-label {
  font-family: 'Montserrat', sans-serif;
  color: #009549;
}

.register-form-btn {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}
