.register-root {
  // background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-root .register-form-container {
  width: 600px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 40px;
  justify-content: center;
  display: flex;
  box-shadow: 6px 6px 9px rgba(0,0,0,0.1);
}

form {
  width: 500px;
}

.form-group {
  width: 500px;
}

.register-row {
  height: 100%;
}

.register-label {
  font-family: 'Montserrat', sans-serif;
}

.register-title {
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

.register-form-btn {
  font-family: 'Montserrat', sans-serif;
}

